<component name="ArtifactManager">
  <artifact type="war" name="SpringBatchDemo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="spring-batch.war">
      <element id="artifact" artifact-name="SpringBatchDemo:war exploded" />
    </root>
  </artifact>
</component>